.container-timeline
  margin: 50px auto
  max-width: 960px

.t-subject
  padding-right: 5px

.t-subject-icon
  margin-top: 2px !important

.time-line{
  margin: 0 auto;
}

.axis text {
  font: 10px sans-serif;
}

.axis .release-desc {
  /*font-size: 14px;*/
}

.axis line,
.axis path {
  fill: none;
  stroke: #27A9E0;
  shape-rendering: crispEdges;
}

.axis .water-drop {
  fill: auto;
}
.x-ticks line,
.x-ticks path {
  shape-rendering: auto;
  fill-opacity: 0.5;
}

.tooltip
  padding: 10px
  max-width: 260px;
  background-color: #44b6ae;
  color: #fff;

  .desc
    z-index: 10;
    position: relative;

.tooltip:after
  background-color: inherit;
  content: "";
  position: absolute;
  height: 22px;
  left: -9px;
  top: 45%;
  width: 22px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
