doctype html5
html(lang='zh')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='/assets/styles/normalize.css')
    link(rel='stylesheet', href='/assets/styles/components-rounded.css')
    link(rel='stylesheet', href='/assets/styles/release.css')
    link(rel='stylesheet', href='/assets/styles/datepicker.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/assets/js/modernizr-latest.js')
    script(src='/assets/js/libs/jquery.datetimepicker.js')

  body
    //if lt IE 8
      p.browserupgrade
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.

    div.container
      include partials/_add

    script(src='/assets/js/add.js')
