doctype html5
html(lang='zh')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='assets/styles/normalize.css')
    link(rel='stylesheet', href='assets/styles/components-rounded.css')
    link(rel='stylesheet', href='assets/styles/release.css')
    script(src='assets/js/modernizr-latest.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='assets/js/libs/d3.js')

  body
    //if lt IE 8
      p.browserupgrade
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.

    div.container
      div.container-timeline
        .portlet.light
          .portlet-title
            .caption
              i.font-green-sharp.glyphicon.glyphicon-cog.t-subject-icon
              span.caption-subject.font-green-sharp.bold.uppercase.t-subject Timeline
              span.caption-helper all the events are here
            .tools
              a(href="/add.html" title="new release").add
                i.glyphicon.glyphicon-plus.t-tools-icon
          .portlet-body
            .time-line

    script(src='assets/js/app.js')
    script(src='assets/js/index.js')
